<h2 align="center">
    {{title}}
     {{#link-to-animated 'Posts.edit' this animations="posts:flip" class="btn btn-warning"}}Редактировать{{/link-to-animated}}
    {{bs-button title='Удалить пост' type='danger' clicked="remove"}}
  </h2>
  <div class="row сomments">
  {{body}}
  </div>
